# Dependencies
node_modules

# Build output (we build in Docker)
dist

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Logs
*.log
npm-debug.log*

# Testing
coverage
*.test.js
*.spec.js

# Documentation
README.md
